.footer-navigation{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
.footer-navigation li {
    margin-bottom: 10px;
}

.footer-navigation li a{
    text-decoration: none;
    
    color:rgb(255, 255, 255);
    
}
.footer_heading{
    margin-bottom: 10px;
}

.footer_content{
    padding-top: 20px;
}